body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:yellow;
}

.container {
    background-color: blueviolet;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.inputs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

.inputs input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: calc(33% - 10px); /* Calculate width based on 3 inputs */
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#age-display {
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}
